<app-header></app-header>
<!-- <div class="home-image-background"></div> -->
<div class="container m-auto">
    <div class="party-background"></div>
    <div class="home-top position-relative py-5">
        <div class="header">
            <h1 class="vibesync-font">VibeSync</h1>
            <p>{{ 'home.welcome' | translate }}</p>
            <p>{{ 'home.description' | translate }}</p>
            <p>{{ 'home.freePlan' | translate }}</p>
        </div>
        <div class="buttons">
            <button (click)="CreateSpace()" class="btn">{{ 'home.buttons.createSpace' | translate }}</button>
            <button routerLink="/pricing" class="btn btn-planos">{{ 'home.buttons.seePlans' | translate }} <mat-icon
                    class="btn-icon">diamond</mat-icon></button>
            <button routerLink="/login" class="btn btn-planos">{{ 'home.buttons.accessAccount' | translate }} <mat-icon
                    class="btn-icon">person</mat-icon></button>
        </div>
        <div class="scroll-downs">
            <div (click)="scrollToHowItWorks()" class="mousey">
                <div class="scroller"></div>
            </div>
        </div>
    </div>

    <section id="how-it-works" class="how-it-works my-md-5" #howItWorksSection>
        <div class="how-it-works-content">
            <h2>{{ 'home.howItWorks.title' | translate }}</h2>
            <p>{{ 'home.howItWorks.description' | translate }}</p>
            <div class="row gap-md-0 gap-3">
                <div class="col-md-3">
                    <div class="step">
                        <div class="step-icon">
                            <mat-icon>add_circle_outline</mat-icon>
                        </div>
                        <div class="step-content">
                            <h3>{{ 'home.howItWorks.steps.createSpace.title' | translate }}</h3>
                            <p>{{ 'home.howItWorks.steps.createSpace.description' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="step">
                        <div class="step-icon">
                            <mat-icon>share</mat-icon>
                        </div>
                        <div class="step-content">
                            <h3>{{ 'home.howItWorks.steps.shareLink.title' | translate }}</h3>
                            <p>{{ 'home.howItWorks.steps.shareLink.description' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="step">
                        <div class="step-icon">
                            <mat-icon>music_note</mat-icon>
                        </div>
                        <div class="step-content">
                            <h3>{{ 'home.howItWorks.steps.suggestions.title' | translate }}</h3>
                            <p>{{ 'home.howItWorks.steps.suggestions.description' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="step">
                        <div class="step-icon">
                            <mat-icon>dashboard</mat-icon>
                        </div>
                        <div class="step-content">
                            <h3>{{ 'home.howItWorks.steps.dashboard.title' | translate }}</h3>
                            <p>{{ 'home.howItWorks.steps.dashboard.description' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>