.container {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.btn-icon{
    height: 20px;
}

.party-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #d11154, #8459b3, #490356, #1ce36d, #2dab42);
    background-size: 500% 500%;
    animation: partyAnimation 30s linear infinite;
    z-index: -1;
}

@keyframes partyAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    padding: 50px 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px 50px;
}

.btn {
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.space-tokens {
    padding: 0 20px 50px;
}

.input {
    padding: 12px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.how-it-works {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 80px 20px;
    color: white;
    border-radius: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.how-it-works-content {
    max-width: 1200px;
    margin: 0 auto;
}

.how-it-works h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.how-it-works p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 300px;
}

.step-icon {
    background-color: #1c275a;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.step-content {
    text-align: center;
}

.step-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.step-content p {
    font-size: 1.1em;
}

.scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: blink 2s infinite;
}

.arrow-down {
    font-size: 1.8em;
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}