<app-suggestions-mobile *ngIf="isMobile | async; else mobileSuggestions" [spaceName]="spaceName" [isLoading]="isLoading"
    [adminToken]="adminToken" [allSuggestions]="allSuggestions" [suggestionsLast5Minutes]="suggestionsLast5Minutes"
    [suggestionsLast10Minutes]="suggestionsLast10Minutes" [suggestionsLast30Minutes]="suggestionsLast30Minutes"
    [suggestionsLast60Minutes]="suggestionsLast60Minutes" [quantitiesPerPage]="quantitiesPerPage"
    [quantityPerPage]="quantityPerPage" [lastUpdated]="lastUpdated" [spaceToken]="spaceToken"></app-suggestions-mobile>
<ng-template #mobileSuggestions>
    <app-suggestions-desktop [spaceName]="spaceName" [isLoading]="isLoading" [adminToken]="adminToken"
        [allSuggestions]="allSuggestions" [suggestionsLast5Minutes]="suggestionsLast5Minutes"
        [suggestionsLast10Minutes]="suggestionsLast10Minutes" [suggestionsLast30Minutes]="suggestionsLast30Minutes"
        [suggestionsLast60Minutes]="suggestionsLast60Minutes" [quantitiesPerPage]="quantitiesPerPage"
        [quantityPerPage]="quantityPerPage" [lastUpdated]="lastUpdated"
        [spaceToken]="spaceToken"></app-suggestions-desktop>
</ng-template>