<app-loading [isLoading]="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <header>
    <img src="assets/images/logo-sem-fundo.png" alt="VibeSync Logo" class="logo">
    <h1 routerLink="/home" class="vibesync-font">VibeSync - Space</h1>
    <p>Seja bem-vindo ao VibeSync, a plataforma que conecta você ao evento</p>
    <p>Pesquise na barra de busca abaixo a música que deseja ouvir e clique em sugerir.</p>
    <p>O administrador desse Space receberá sua sugestão. Seja parte da playlist do evento!</p>
  </header>

  <div class="container">
    <div class="header">
      <h2>{{spaceName}}</h2>
    </div>
    <div class="search-box">
      <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="search()" placeholder="Pesquise uma música..." />
      <button mat-icon-button type="button" class="search-icon-btn" (click)="search()" aria-label="Buscar">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <!-- <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="search()" placeholder="Pesquise uma música..."> -->
    <div class="listMusics" *ngFor="let result of searchResults">
      <div class="music-item">
        <h3>{{ result.title }}</h3>
        <img src="{{ result.thumbnailUrl }}" alt="{{ result.title }}">
        <p>{{ result.artistName }}</p>
        <p>Publicado em {{result.publishedAt | date: 'dd/MM/yyyy'}}</p>
        <button (click)="suggestSong(result.videoId)">Sugerir música</button>
      </div>
    </div>

    <div class="pagination">
      <button *ngIf="totalPages > 1" [disabled]="currentPage === 1"
        (click)="changePage(currentPage - 1)">Anterior</button>
      <button *ngIf="totalPages > 1" [disabled]="currentPage === totalPages"
        (click)="changePage(currentPage + 1)">Próxima</button>
    </div>
    <app-share-whatsapp-button [publicToken]="this.spaceToken" [spaceName]="this.spaceName"></app-share-whatsapp-button>
  </div>
</div>