<div class="mobile-navbar row m-0">
    <a class="col-4 nav-item text-decoration-none text-white" routerLink="/home" routerLinkActive="active">
        <div class="item-content d-flex flex-column align-items-center">
            <mat-icon>home</mat-icon>
            <span>Início</span>
        </div>
    </a>
    <a class="col-4 nav-item text-decoration-none text-white"
        routerLink="/pricing" routerLinkActive="active">
        <div class="item-content d-flex flex-column align-items-center">
            <mat-icon>payments</mat-icon>
            <span>Planos</span>
        </div>
    </a>
    <a class="col-4 nav-item text-decoration-none text-white" routerLink="/user-spaces"
        routerLinkActive="active">
        <div class="item-content d-flex flex-column align-items-center">
            <mat-icon>space_dashboard</mat-icon>
            <span>Spaces</span>
        </div>
    </a>
    <!-- <a class="align-items-center d-flex flex-column nav-item" routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Perfil</span>
    </a> -->
</div>