:root {
  --primary-color: #5f92b7;
  --primary-hover-color: #15496e;
  --secondary-color: #666;
  --text-color: #fff;
  --background-color: linear-gradient(135deg, #040d36, #431770);
  --font-family: 'Roboto', sans-serif;

  --accent-color: #327a70;
  --accent-hover-color: #6ec0b5;
  --error-color: #c32424;
  --error-hover-color: #ff0000;
  --secondary-text-color: #aaa;
}