<footer class="footer">
    <div class="align-items-center d-flex footer-container h-100 justify-content-between">
        <div class="align-items-center d-flex footer-logo">
            <img class="logo" src="assets/images/logo-sem-fundo.png" alt="VibeSync Logo">
            <span>VibeSync</span>
        </div>
        <nav class="align-items-center d-flex flex-column footer-nav justify-content-center">
            <a href="/">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
            <a href="/termos">Termos de Uso</a>
        </nav>
        <div class="align-items-center d-flex flex-column footer-info justify-content-center">
            <span>&copy; 2024 VibeSync. Todos os direitos reservados.</span>
            <span>Email: {{email}}</span>
        </div>
    </div>
</footer>